:root {
  /* --sl-font: 'Open Sans Variable', sans-serif; */
  --sl-font: 'IBM Plex Sans Variable', sans-serif;
  --sl-text-base:1rem;
  --sl-text-h1: var(--sl-text-4xl);
  --sl-text-h2: var(--sl-text-3xl);
  --sl-text-h3: var(--sl-text-2xl);
  --sl-text-h4: var(--sl-text-xl);
}

@media (prefers-color-scheme: light) {
  .shiki.dark-plus {
    display: none;
  }
}
@media (prefers-color-scheme: dark) {
  .shiki.light-plus {
    display: none;
  }
}